* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 10.24px;
  line-height: 1.5;
  color: #2B283A;
}

nav {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background: #F55A5A;
}

.nav--logo {
  width: 24px;
  height: 24px;
}

.nav--logo-text {
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}

.cards-list {
  padding: 40px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.card {
  display: flex;
  gap: 20px;
  width: 470px;
  border-bottom: 1px solid #F5F5F5;
  padding-block-end: 20px;
  margin-inline: auto;
}

.card--image {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 9px;
}

.card--location-info {
  display: flex;
  gap: ;
  align-items: center;
}

.card--location-pin {
  height: 8px;
  padding-inline-end: 4px;
}

.card--country {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  padding-inline-end: 12px;
}

.card--google-link {
  color: #918E9B;
}

.card--title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-block: 4px 14px;
}

.card--dates {
  font-weight: 700;
}
